<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.game"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.game.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.game.ChooseName"
            android:label="@string/title_activity_choose_name"
            android:parentActivityName="com.example.game.choosePet" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.game.choosePet" />
        </activity>
        <activity
            android:name="com.example.game.ChoosePet"
            android:label="@string/title_activity_choose_pet"
            android:parentActivityName="com.example.game.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.game.MainActivity" />
        </activity>
        <activity
            android:name="com.example.game.ChooseName2"
            android:label="@string/title_activity_choose_name2"
            android:parentActivityName="com.example.game.ChoosePet" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.game.ChoosePet" />
        </activity>
        <activity
            android:name="com.example.game.GameScreen"
            android:label="@string/title_activity_game_screen"
            android:parentActivityName="com.example.game.ChooseName2" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.game.ChooseName2" />
        </activity>
    </application>

</manifest>
